h1{
    font-size: 100px;
    margin-left: 13%;
}
div{
 /*   margin-top: -5%;*/
}
button{
    width: 90%;
    opacity: 10;
   text-decoration-color: wheat;
    margin-top: 15%;
    margin-left: 5%;
    height: 120px;
    font-size: 50px;

}
footer{
    width: 100%;
    height: 30%;
    margin-top: 40%;
}
footer a{
    margin-left: 0%;
    width: 352.67px;
    height: 142px;
    text-decoration: none;
    font-size: 85px;
    border: solid 1px black;
    border-bottom: 0px;
    border-radius: 1px;
    display: block;
    float: left;
    text-align: center;
    margin-top: -39px;
}

h2 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    outline: none;
    font-size: 2.1em;
	line-height: 1.4em;
	margin-bottom: 15px;
	color: #444;
	font-weight: normal;
    font-family: 'Arbutus Slab', Arial, sans-serif;
    
}